Hi <%= @to.first_name %> <%= @to.last_name %>!
<%= @from.first_name %> <%= @from.last_name %>, representing <%= @from.company_name %> is wanting to contact you!</p>
You can get a hold of them at <%= @from.email %>
They left you a message: <%= @body %>