<% if @user.has_role? :employee %>
<!-- Employee Profile -->
<div class ="profileContainer">
	<div class ="profileContainerImage" id="shadow-arch-edges">
		<div class ="profileFrame">
			<%= image_tag @user.image.url, alt:"User Icon" %> <!-- Should add a max size or auto scale pics that are uploaded -->
		</div>
	</div>
	<div class ="profileContainerContent">
		<h2> <%= @user.first_name %> <%= @user.last_name %> </h2>
		<% if !@user.github.nil? %>
			<%= link_to 'GitHub', @user.github, id: 'github', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
		<% end %>
		<% if !@user.linkedin.nil? %>
			<%= link_to 'Linkedin', @user.linkedin, id: 'linkedin', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
		<% end %>
		<% if !@user.twitter.nil? %>
			<%= link_to 'Twitter', @user.twitter, id: 'twitter', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
		<% end %>
		<% if !@user.facebook.nil? %>
			<%= link_to 'Facebook', @user.facebook, id: 'facebook', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
		<% end %>
		<%= raw('<br>') if @user.github.nil? && @user.linkedin.nil? && @user.twitter.nil? && @user.facebook.nil? %>
	</div>
</div>
<% elsif @user.has_role? :employer %>
<!-- Employer Profile -->
	<div class ="profileContainer">
		<div class ="profileContainerImage" id="shadow-arch-edges">
			<div class ="profileFrame">
				<%= image_tag @user.image.url, alt:"User Icon" %> <!-- Should add a max size or auto scale pics that are uploaded -->
			</div>
		</div>
		<div class ="profileContainerContent">
			<h2> <%= @user.company_name %></h2>
			<h5> <%= @user.street_address %><br><%= @user.city %> <%= @user.province %> <%= @user.postal_code %> </h5>
			<h5> <%= @user.email %> </h5>
			<% if !@user.linkedin.nil? %>
				<%= link_to 'Linkedin', @user.linkedin, id: 'linkedin', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
			<% end %>
			<% if !@user.twitter.nil? %>
				<%= link_to 'Twitter', @user.twitter, id: 'twitter', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
			<% end %>
			<% if !@user.facebook.nil? %>
				<%= link_to 'Facebook', @user.facebook, id: 'facebook', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
			<% end %>
			<%= raw('<br>') if @user.github.nil? && @user.linkedin.nil? && @user.twitter.nil? && @user.facebook.nil? %>
		</div>
	</div>
<% else %>
	<!-- admin -->
<% end %>