<% if @user.has_role? :employee %>
<!-- Employee Profile -->
	<div class ="profileContainer row">
		<div class ="profileContainerImage">
			<% if @user.formatted_picture(current_user) %>
				<% if defined? edit %>
					<div class="profile-image fix-display medium-shadow">
						<%= image_tag @user.image.url(:medium), alt:"User Icon", id: "profile" %>
					</div>
				<% else %>
					<div class="profile-image medium-shadow">
						<%= image_tag @user.image.url(:medium), alt:"User Icon" %>
					</div>
				<% end %>
			<% elsif @user.gender == "male" %>
				<%= image_tag "avatar-placeholderM-medium.svg", alt: "User Icon", class: "profile-image medium-shadow" %>
			<% elsif @user.gender == "female" %>
				<%= image_tag "avatar-placeholderF-medium.svg", alt: "User Icon", class: "profile-image medium-shadow" %>
			<% else %>
				<%= image_tag "avatar-placeholder-medium.svg", alt: "User Icon", class: "profile-image medium-shadow" %>
			<% end %>
		</div>
		<%if @user == current_user %>
		<div class ="profileContainerContent col-xs-9 col-sm-8 col-md-4">
		<% else %>
		<div class ="profileContainerContent col-xs-9 col-sm-8 col-md-8">
		<% end %>
			<h2> <%= link_to @user.formatted_name(current_user), @user %> </h2>
	
			<h5> <%= @user.formatted_job(current_user) %></h5>

			<h5><%= @user.formatted_location(current_user) %></h5>

			<h5>
				<% if !@user.github.nil? %>
					<%= link_to 'GitHub', @user.github, id: 'github', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %>
				<% end %>
				<% if !@user.linkedin.nil? %>
					<%= link_to 'Linkedin', @user.linkedin, id: 'linkedin', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
				<% end %>
				<% if !@user.twitter.nil? %>
					<%= link_to 'Twitter', @user.twitter, id: 'twitter', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
				<% end %>
				<% if !@user.facebook.nil? %>
					<%= link_to 'Facebook', @user.facebook, id: 'facebook', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
				<% end %>
			</h5>
			<h5><%= @user.summary %></h5>
			<% if user_signed_in? && current_user.has_role?(:employer) %>
				<div style="margin-top:10px;">
					<%= link_to 'Contact '+@user.formatted_name(current_user), contact_user_path(@user), class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
		<% if user_signed_in? && @user == current_user %>
			<div class="bulletin-board col-xs-12 col-sm-12 col-md-5">
				<ul>
					<%= render 'shared/user_buckets' %>
				</ul>
			</div>
		<% end %>
	</div>
<% elsif @user.has_role? :employer %>
<!-- Employer Profile -->
	<div class ="profileContainer row">
		<div class ="profileContainerImage">
			<% if defined? edit %>
				<div class="profile-image fix-display medium-shadow">
					<%= image_tag @user.image.url(:medium), alt:"User Icon", id: "profile" %>
				</div>
			<% else %>
				<div class="profile-image medium-shadow">
					<%= image_tag @user.image.url(:medium), alt:"User Icon" %>
				</div>
			<% end %>
		</div>
		<%if @user == current_user %>
		<div class ="profileContainerContent col-xs-9 col-sm-8 col-md-4">
		<% else %>
		<div class ="profileContainerContent col-xs-9 col-sm-8 col-md-8">
		<% end %>
			<h2> <%= link_to @user.company_name, @user %></h2>
			<h5> <%= @user.street_address %><br><%= @user.city %> <%= @user.province %> <%= @user.postal_code %> </h5>
			<h5> <%= @user.email %> </h5>
			<h5>
				<% if !@user.linkedin.nil? %>
					<%= link_to 'Linkedin', @user.linkedin, id: 'linkedin', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
				<% end %>
				<% if !@user.twitter.nil? %>
					<%= link_to 'Twitter', @user.twitter, id: 'twitter', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
				<% end %>
				<% if !@user.facebook.nil? %>
					<%= link_to 'Facebook', @user.facebook, id: 'facebook', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
				<% end %>
			</h5>
			<h5><%= @user.summary %></h5>
		</div>
		<% if user_signed_in? && @user == current_user %>
			<div class="bulletin-board col-xs-12 col-sm-12 col-md-5 pull-right">
				<ul>
					<%= render 'shared/user_buckets' %>
				</ul>
			</div>
		<% end %>
	</div>
<% else %>
	<!-- admin -->
	<div class ="profileContainer row">
		<div class ="profileContainerImage">
			<% if defined? edit %>
				<div class="profile-image fix-display medium-shadow">
					<%= image_tag @user.image.url(:medium), alt:"User Icon", id: "profile" %>
				</div>
			<% else %>
				<div class="profile-image medium-shadow">
					<%= image_tag @user.image.url(:medium), alt:"User Icon" %>
				</div>
			<% end %>
		</div>
		<%if @user == current_user %>
		<div class ="profileContainerContent col-xs-9 col-sm-8 col-md-4">
		<% else %>
		<div class ="profileContainerContent col-xs-9 col-sm-8 col-md-8">
		<% end %>
			<h2> <%= link_to "Admin", @user %></h2>
			
			<h5>
				<% if !@user.linkedin.nil? %>
					<%= link_to 'Linkedin', @user.linkedin, id: 'linkedin', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
				<% end %>
				<% if !@user.twitter.nil? %>
					<%= link_to 'Twitter', @user.twitter, id: 'twitter', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
				<% end %>
				<% if !@user.facebook.nil? %>
					<%= link_to 'Facebook', @user.facebook, id: 'facebook', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
				<% end %>
			</h5>
			<h5><%= @user.summary %></h5>
		</div>
		<% if user_signed_in? && @user == current_user %>
			<div class="bulletin-board col-xs-12 col-sm-12 col-md-5 pull-right">
				<ul>
					<%= render 'shared/user_buckets' %>
				</ul>
			</div>
		<% end %>
	</div>
<% end %>