<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @reference_email.first_name %> <%= @reference_email.last_name %>!</h1>
    <p> <%= @user.first_name %> <%= @user.last_name %> would like you to give them a reference on <%= @hoststring %>! %> </p>
    <p> Please follow this <%= link_to "link", @reference_email.reference_url %> to give them a reference! </p>
  </body>
</html>