<%= render "users/shared/profile" %>

<%= render partial: "shared/site_tabs", locals: {active: "contact", user_path: user_path(@user) } %>

<h4><b>Contact <%= @user.formatted_name(current_user) %></b></h4>
<p>Fill out the contact form below to send a message.  Your email will be provided so they can contact you back.  Please include a message below, and customize the subject line if you so choose.</p>

<%= simple_form_for :contact, {url: email_user_path } do |f| %>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6">
			<%= f.input :subject, input_html: { value: "#{current_user.company_name} would like to talk to you."}, wrapper_html: { class: "row margin-left-0", style: "padding-top: 5px;" } %>
			<%= f.input :email, input_html: { value: current_user.email }, label: "Contact Email.", wrapper_html: { class: "row margin-left-0 " } %>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<%= f.input :body, as: :text, wrapper_html: { style: "padding-left: 0px; width: 100%;" }, input_html: { rows: 5 } %>
		</div>
	</div>
	<%= f.button :submit, "Send Contact Request", class: "btn btn-primary" %>
<% end %>