
<%= simple_form_for (@user) do |u| %>
	<%= u.input :first_name %>
	<%= u.input :last_name %>
	<%= u.input :email %>
	<%= u.input :password %>
	<%= u.input :confirm_password %>
	<div class="form-group">
    <%= u.input :github, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= u.input :linkedin, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= u.input :twitter, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= u.input :facebook, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= u.input :company_name, autofocus: true, class: "form-control" %>
  </div>

	<%= u.submit %>
<% end %>