<% if @user.has_role? :employee %>
	
	<div class ="container">
		<p> User Information </p>
		<p> <%= @user.first_name %> </p>
		<p> <%= @user.last_name %> </p>
		<p> <%= @user.email %> </p>
	</div>

	<% if user_signed_in? && @current_user==@user %>
		<%= link_to "Job Applications", job_posting_applications_path %>
	<% end %>

 	<div class = "survey-table">
		<%= render '/users/partials/show_survey_table', results: @survey_results, user:@user %>
	</div>

	<div class = "references">
		<%= render '/users/partials/show_references' %>
	</div>

	<% if !@projects.empty? %>
		<div class="projects">
			<div class="container">
				<div class="row">
					<div class="col-xs-6">
						<% @projects.each do |p| %>
							<%= image_tag p.image.url %>
							<h2><%= p.title %></h2>
							<p><%= p.description %></p>
							<% if !@skills.empty? %>
								<p>Skills associated with this project</p>
								<% @skills[p.id].each do |s| %>
									<p><%= s.name%> </p>
								<% end %>
							<% end %>
							<% if user_signed_in? && @current_user==@user %>
								<%= link_to "Edit Project", edit_project_path(p) %><br />
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% else %>
		<h3>You have no posted projects.  Fill out the form below to create one!</h3>
	<% end %>
	<% if user_signed_in? && @current_user==@user %>
		<div class="row">
			<h3>Create another project below!</h3>
		</div>
		<div class ="container">
			<div class ="row">
				<div class="col-xs-6">
					<%= simple_form_for @project do |f| %>
						<%= f.input :title, required: true %>
						<%= f.input :description, required: true, as: :text %>
						<%= f.input :image, as: :file %>
						<%= f.button :submit %>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
	<% if !@user_skills.empty? %>
		<div class="container">
			<h2>Here is a summary of your skill base</h2>
			<% @user_skills.each do |us| %>
				<div class="row">
					<div class="col-xs-4">
						<%= us.skill.name %> with a rating of <%= us.rating %> / <%= max_rating %>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
	<% if user_signed_in? && @current_user==@user %>
		<%= simple_form_for @user_skill do |g| %>
			<%= g.input :name %>	
			<%= g.input :rating, as: :radio_buttons, collection: 0..Integer(max_rating)%>
			<%= g.button :submit %>
		<% end %>
	<% end %>
	</div>
<% elsif @user.has_role? :employer %>
	<p> Company Information: <br>
		<%= @user.company_name %><br>
		<%= @user.company_address %>, <%= @user.company_province %><br>
		<%= @user.company_postal_code %> 
	</p>
	
	<%= link_to "Job Postings", job_postings_path(user: @user) %>
	<% if user_signed_in? && @current_user==@user %>
		<br><%= link_to "Job Applications", job_posting_applications_path %>
	<% end %>

<% elsif @user.has_role? :admin%>
	You are an admin!
	<%= %> 
<% end %>