<% if @user.has_role? :employee %>

	<% if !@projects.empty? %>
		<div class="projects">
			<div class="container">
				<div class="row">
					<div class="col-xs-6">
						<% @projects.each do |p| %>
							<%= image_tag p.image.url %>
							<h2><%= p.title %></h2>
							<p><%= p.description %></p>
							<% if user_signed_in? && @current_user==@user %>
								<%= link_to "Edit Project", edit_project_path(p) %><br />
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% else %>
		<h3>You have no posted projects.  Fill out the form below to create one!</h3>
	<% end %>
	<% if user_signed_in? && @current_user==@user %>
		<div class="row">
			<h3>Create another project below!</h3>
		</div>
		<div class ="container">
			<div class ="row">
				<div class="col-xs-6">
					<%= simple_form_for @project do |f| %>
						<%= f.input :title, required: true %>
						<%= f.input :description, required: true, as: :text %>
						<%= f.input :image, as: :file %>
						<%= f.button :submit %>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<h2>Here is a summary of your skill base</h2>
				
			</div>
		</div>
	</div>
<% elsif @user.has_role? :employer %>

	<% if !@job_postings.empty? %>
		<div class="job-postings">
			<div class="container">
				<div class="row">
					<div class="col-xs-6">
						<% @job_postings.each do |j| %>
							<h2><%= j.title %></h2>
							<p><%= j.description %></p>
							<p>Job Posting available at: <%= j.open_date %></p>
							<p>Cut off for applicants is: <%=j.close_date%></p>
							<% if user_signed_in? && @current_user==@user %>
								<%= link_to "Edit Posting", edit_job_posting_path(j) %>
							<% end %>
						<% end %>
					</div>
				</div>
				<div class="row">
					<h2>Add another job posting below!</h2>
				</div>
			</div>
		</div>
	<% else %>
		<h3>You have no job postings here.  Would you like to create one?</h3>
	<% end %>
	<% if user_signed_in? && @current_user==@user %>
	<div class ="container">
		<div class ="row">
			<div class="col-xs-6">
				<%= simple_form_for @job_posting do |f| %>
					<%= f.input :title, required: true %>
					<%= f.input :description, required: true, as: :text %>
					<%= f.input :open_date, required: true %>
					<%= f.input :close_date, required: true %>
					<%= f.button :submit %>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>
<% elsif @user.has_role? :admin%>

<% else %>
<% end %>