
<% if @user.has_role? :employee %>
<!-- Employee Profile -->
<div class ="profileContainer">
	<div class ="profileContainerImage" id="shadow-arch-edges">
		<div class ="profileFrame">
			<%= image_tag @user.image.url, alt:"User Icon" %> <!-- Should add a max size or auto scale pics that are uploaded -->
		</div>
	</div>
	<div class ="profileContainerContent">
		<h2> <%= @user.first_name %> <%= @user.last_name %> </h2>
		<h5> <%= @user.street_address %> <%= @user.city %> <%= @user.province %> <%= @user.postal_code %> </h5>
		<h5> <%= @user.email %> </h5>
		<% if !@user.github.nil? %>
			<%= link_to 'GitHub', @user.github, id: 'github', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
		<% end %>
		<% if !@user.linkedin.nil? %>
			<%= link_to 'Linkedin', @user.linkedin, id: 'linkedin', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
		<% end %>
		<% if !@user.twitter.nil? %>
			<%= link_to 'Twitter', @user.twitter, id: 'twitter', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
		<% end %>
		<% if !@user.facebook.nil? %>
			<%= link_to 'Facebook', @user.facebook, id: 'facebook', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
		<% end %>
		<%= raw('<br>') if @user.github.nil? && @user.linkedin.nil? && @user.twitter.nil? && @user.facebook.nil? %>
	</div>

	<div class ="profileButtonResume">
<!-- Placeholder: TODO implement Resume stuff
		<div class="resumeShadowBox bottom"> </div>
		<div class="resumeShadowBox left"> </div>
		<input type="button" value="RESUME"/>	
-->	
	</div>
	<div class="container" id="profileButtons">
		<ul class="nav nav-tabs profileButtonContent">
    			<li class="active" onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this);><a data-toggle="tab" href="#surveys">SURVEYS</a></li>
    			<li onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this);><a data-toggle="tab" href="#employment">EMPLOYMENT</a></li>
    			<li onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this);><a data-toggle="tab" href="#projects">PROJECTS</a></li>
    			<li onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this);><a data-toggle="tab" href="#skills">SKILLS</a></li>
   			<li onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this);><a data-toggle="tab" href="#references">REFERENCES</a></li>
  		</ul>
  
  		<div class="tab-content profileButtonContent">
    			<div id="surveys" class="tab-pane fade in active">
      				<div class = "survey-table" id= "survey-table">
					<%= render '/users/partials/show_survey_table', user:@user, results:@survey_results %>
				</div>
    			</div>
    			<div id="employment" class="tab-pane fade">
				<% if user_signed_in? && @current_user==@user %>
						<% cnt = 0 %>
						<h4>These are your current job applications.</h4>
						<p> The status is displayed beside the posting title.<br>
							The company which owns the job posting will update the status of the posting and it will be shown here.<br>
							You have the option to delete your application but <b>you will not be able to reapply.</b><br>
							Feel free to delete your application if you are rejected but keep in mind that it is possible for a 
		company to change their mind and "unreject" your application.
						</p>
						<%@job_posting_applications.each do |j|%>
							<% if j.status != -2 %>
								<% cnt += 1 %>
								<div class="row"> 
									<div class="col-md-4">
										<h4 class="job-application-content">
											<%= link_to raw("#{j.job_posting.title} (<i>#{j.job_posting.user.company_name}</i>)"), job_posting_application_path(j) %>
											<small><span class=" label label-<%=j.get_bootstrap_status%>"><%="#{j.get_status_string}"%></span></small>
										</h4>
									</div>
									<div class="col-xs-1">
										<%= link_to "Delete", job_posting_application_path(j.id), method: "delete", class: "btn btn-default"%>
									</div>
								</div>
							<% end %>
						<% end %>
				<% end %>	
    			</div>
    			<div id="projects" class="tab-pane fade">
				<% if !@projects.empty? %>
					<div class="projects">
					<!--<div class="container">-->
					<div class="row">
					<div class="col-xs-6" style="margin-left:auto; margin-right:auto; width:1000px; text-align:center;">
						<% @projects.each do |p| %>
							<br />
							<%= image_tag p.image.url %>
							<h2><%= p.title %></h2>
							<p><%= p.description %></p>
								<% if !@skills.empty? %>
									<p>Skills associated with this project:</p>
									<% @skills[p.id].each do |s| %>
										<p><%= s.name%> </p>
									<% end %>
								<% end %>
							<% if user_signed_in? && @current_user==@user %>
								<%= link_to "Edit Project", edit_project_path(p) %><br/>
							<% end %>
						<% end %>
					</div>
					</div>
					</div>
				<% else %>
					<h3>You have no posted projects.  Fill out the form below to create one!</h3>
				<% end %>
				<% if user_signed_in? && @current_user==@user %>
					<div class="row">
						<h3>Create a project below!</h3>
					<%= render 'projects/project_form' %>
					</div>
				<% end %>
			</div>
    			<div id="skills" class="tab-pane fade">
				<div id="skills">
					<% if !@user_skills.empty? %>
						<div class="container">
							<h2>Here is a summary of your skill base</h2>
							<% @user_skills.each do |us| %>
								<div class="row">
									<div class="col-xs-4">
										<%= us.skill.name %> 
									</div>
								</div>
							<% end %>
						</div>
					<% end %>
					<% if user_signed_in? && @current_user==@user %>
						<%= simple_form_for @user_skill do |g| %>
							<div class="row">
								<div class="col-md-4"><%= g.input :name %>	</div>
								<div class="col-md-4"><%= g.input :question_id, required:true, collection: @questions, prompt: "Select Classification", label: "Associated Survey Skill and Level"%></div>
							</div>
							<%= g.button :submit %>
						<% end %>
					<% end %>
				</div>
    			</div>
			<div id="references" class="tab-pane fade">
				<div class = "references" id = "references">
					<%= render '/users/partials/show_references' %>
				</div>
    			</div>
  		</div>
	</div>
</div>


<% elsif @user.has_role? :employer %>

<div class ="profileContainer">
	<div class ="profileContainerImage" id="shadow-arch-edges">
		<div class ="profileFrame">
			<%= image_tag @user.image.url, alt:"User Icon" %> <!-- Should add a max size or auto scale pics that are uploaded -->
		</div>
	</div>
	<div class ="profileContainerContent">
		<h2> <%= @user.first_name %> <%= @user.last_name %> </h2>
		<h2> <%= @user.company_name %></h2>
		<h5> <%= @user.street_address %> <%= @user.city %> <%= @user.province %> <%= @user.postal_code %> </h5>
		<h5> <%= @user.email %> </h5>
		<% if !@user.github.nil? %>
			<%= link_to 'GitHub', @user.github, id: 'github', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
		<% end %>
		<% if !@user.linkedin.nil? %>
			<%= link_to 'Linkedin', @user.linkedin, id: 'linkedin', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
		<% end %>
		<% if !@user.twitter.nil? %>
			<%= link_to 'Twitter', @user.twitter, id: 'twitter', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
		<% end %>
		<% if !@user.facebook.nil? %>
			<%= link_to 'Facebook', @user.facebook, id: 'facebook', onmouseover: 'buttonOpac(this)', onmouseout:'buttonRevOpac(this)' %> 
		<% end %>
		<%= raw('<br>') if @user.github.nil? && @user.linkedin.nil? && @user.twitter.nil? && @user.facebook.nil? %>
	</div>

	<div class="container" id="profileButtons">
		<ul class="nav nav-tabs profileButtonContent">
			<li class="active" onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this);><a data-toggle="tab" href="#about">ABOUT US</a></li> 
   			<li onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this);><a data-toggle="tab" href="#people">PEOPLE</a></li>
   			<li onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this);><a data-toggle="tab" href="#jobs">JOBS</a></li>
  		</ul>
  	
		<div class="tab-content profileButtonContent">

			<div id="about" class="tab-pane fade in active">
				<p>About Us</p>
				<%= @user.bio %>
			</div>

			<div id="people" class="tab-pane fade">
				<p>Section for employees of the company, to add once the ability to follow users is added.</p>
			</div>
			<div id="jobs" class="tab-pane fade">
				<br>
				<% if @job_postings.nil? %>
					<% if user_signed_in? && current_user == @user %>
						<p>You have no job postings.  Please create one below</p>
					<% else %>
						<p><%= @user.company_name %> has no job postings right now.  Check back leter.</p>
					<% end %>
				<% else %>
					<% @job_postings.each do |j| %>
						<%= link_to "#{j.title}\n", job_posting_path(j) %>
						<% if user_signed_in? && current_user == @user %>
							<% application_count = j.job_posting_applications.where(status:-1..Float::INFINITY).count %>
							<%= link_to raw("Applications <span class=\"badge\">#{application_count.to_s}</span>"), job_posting_applications_path(job_posting:j), class: "btn btn-success"%>
						<% end %>
						<br>
					<% end %>
				<% end %>
				<% if user_signed_in? && current_user == @user %>
					<%= link_to "Create a New Posting", new_job_posting_path %><br>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% elsif @user.has_role? :admin%>
	You are an admin!
<% end %>
