<footer>
	<div class="row">
		<div class="col-md-3">
		<h3>Project Partners</h3>
	<br />
	Foo bar foo bar foo bar <br />
	foo bar foo bar foo bar
		</div>
		<div class="col-md-9 footer-images">
			<!--<%= image_tag "ubco.png", size: "333x100"%><!-- original dimensions are 768x230 -->
			<%= image_tag "ubco2.png", size: "241x50" %><!-- original dimensions are 768x159 -->
			<%= image_tag "wilfrid_laurier_seal.jpg", size: "50x50" %><!-- original dimensions are 301x300 -->
			<%= image_tag "brandon.png", size: "32x45" %><!-- original dimensions are 187x270 -->
			<%= image_tag "SSHRC-CRSH_FIP.jpg", size: "717x30" %><!-- original dimensions are 1507x63 -->
		</div>
	</div>
</footer>