<nav class="navbar navbar-default navbar-static-top">
  <div class="container container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="glyphicon glyphicon-menu-hamburger" aria-label="Toggle navigation"></span>
      </button>
      <div class="login-menu">
        <%= link_to(image_tag("banner.svg", class: 'image-responsive', size: '92x40'), root_path, method: :get) %><!-- original size is 1000x434 -->
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbar">

      <%= form_tag "/search", method: "get", class: "nav navbar-nav navbar-form", role:"search", id: 'search' do %>
        <div class="input-group">
            <%= text_field_tag 'q', params[:q], class: 'round-border form-control', placeholder: "Search", autocomplete:"off", style: "width: 170px;" %>
            <%= hidden_field_tag 't', params[:t] %>
            <%= button_tag type: "submit", class: "btn btn-default margin-left-5", name: nil do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
        </div>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <li><a href='/search?utf8=✓&q=&t=JobPostings'>Job Postings</a></li>
        <li><%= link_to 'About Us', about_us_path %></li>
        <li><%= link_to 'Contact Us', contact_us_path %></li>

        <% if user_signed_in? %>
          <li class="dropdown">                                   
            <%= link_to show_notifications_path, html_options = 
            {class: "dropdown-toggle", "data-toggle"=>"dropdown","data-remote"=>"true"}, remote: true do %>
              <span class="glyphicon glyphicon-bell notifications-bell" aria-label="Notifications"></span>
              <span class = "notifications-counter" id="notif-num" style="<%=@notif_count_style%>" data-turbolinks-permanent><%= @notif_unseen %></span>
            <% end %>

            <ul class="dropdown-menu notif-bar" role="menu">
              <li id="notif-list" onscroll="checkNotificationScroll()">
                <img id="notif-loading" class="loading-image" src="<%=asset_path('loading.gif')%>" alt="Loading..">
              </li>
              <li><%= link_to "Show all notifications", notifications_path, class: "center-text" %></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle padding-5" data-toggle="dropdown"><%= image_tag current_user.image.url(:menu), alt:"User Icon", class: "profile-image menu-shadow" %>Me<span class="caret"></span></a>
            <ul class="dropdown-menu padding-10" role="menu">
              <li class="menu-profile">
                <%= image_tag current_user.image.url(:thumb), alt:"User Icon", class: "profile-image menu-image thumb-shadow" %>
                <div class="menu-name">
                  <% if current_user.has_role?(:employee) %>
                    <%= (current_user.first_name+" "+current_user.last_name).truncate(20) %><br /><%= link_to "View Profile", user_path(current_user) %>
                  <% elsif current_user.has_role?(:employer) %>
                    <%= current_user.company_name %><br /><%= link_to "View Profile", user_path(current_user) %>
                  <% end %>
                </div>
                <div style="clear:both;"></div>
              </li>
              <hr class="margin-all-10">
              <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
              <!-- Placeholder: Will this be used? -->
              <li><%= link_to "Consent", '/settings/consent' %></li>
              <hr class="margin-all-10">
              <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
        <% else %>
          <li>
            <div class="login-menu">
              <%= link_to 'Login', new_user_session_path, class: "btn btn-info", style: 'color: #FFFFFF;' %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>