<nav class="navbar navbar-default">
  <div class="container container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="glyphicon glyphicon-menu-hamburger" aria-label="Toggle navigation"></span>
      </button>
      <a class="navbar-brand" href="/">Home Icon</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li class="<%= 'active' if current_page?(user_path(current_user)) %>"><%= link_to 'My Profile', current_user %></li>
        <% end %>
      </ul>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group"> <!-- Placeholder -->
          <input type="text" class="form-control" placeholder="Search">
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to current_user.first_name, current_user, class: "navbar-brand", style: "cursor:default;" %></li>

          <li class="dropdown">                                   
            <%= link_to show_notifications_path, html_options = 
            {class: "dropdown-toggle", "data-toggle"=>"dropdown","data-remote"=>"true"}, remote: true do %>
              <span class="glyphicon glyphicon-bell notifications-bell" aria-label="Notifications"></span>
              <span class = "notifications-counter" id="notif-num" style="<%=@notif_count_style%>"><%= @notif_unseen %></span>
            <% end %>

            <ul class="dropdown-menu notif-bar" role="menu">
              <li id="notif-list" onscroll="checkNotificationScroll()">
                <img id="notif-loading" class="center-image" src="<%=asset_path('loading.gif')%>" alt="Loading.." height="20" width="20">
              </li>
              <li><%= link_to "Show all notifications", notifications_path, class: "center-text" %></li>
            </ul>
          </li>

          <li class="dropdown">                                   
            <a><span class="glyphicon glyphicon glyphicon-cog" aria-label="Settings"></span></a>
            <ul class="dropdown-menu" role="menu"></ul>
          </li>

          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>