<% if !local_activities.empty? %>
	<% for activity in local_activities %>
		<% if !activity.trackable # Backup to ensure all are showable%>
			<% activity.destroy %>
			<% next %>
		<% end %>
		<% li_class = "unread" %>
		<% mark_read_opt = "" %>
		<% if activity["is_read"] %>
			<% li_class = "read" %>
			<% mark_read_opt = "visibility:hidden;" %>
		<% end %>

		<li class="<%=li_class%>">
			<div class="notif-inside">
				<div class="content" onclick="window.location='<%=show_trackable_path(activity)%>'">
					<div><%= render_activity activity %></div>
					<div>&nbsp;<%=from_current_time(activity.created_at)%></div>
				</div>
				<div class = "options">
					<div><%= link_to raw("<span class=\"glyphicon glyphicon-remove\"></span>"), 
							 notifications_path(id: activity.id), remote: true, method: "delete"%>
					</div>
					<div>
						<%= link_to raw("<span class=\"glyphicon glyphicon-ok-circle\"></span>"), 
							notifications_path(id: activity.id), remote: true, method: "patch", style: "#{mark_read_opt}" %>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</li>	
	<% end %>
<% else %>
	<li class="center-text"> You have no notifications! </li>
<% end %>

