<% options = get_read_options(activity)%>
<% notification_id = "notification-" +activity.id.to_s %>
<% if spacing %>
<li id="<%=notification_id%>" class="<%=options[0]%> alternate margin-top-5">
<% else %>
<li id="<%=notification_id%>" class="<%=options[0]%> alternate">
<% end %>
	<div class="notif-inside">
		<div class="content" onclick="window.location='<%=show_trackable_path(activity)%>'">
			<div style="display:flex;"><%= render_activity activity %></div>
		</div>
		<div class="controls">
			<div><%= link_to notifications_path(id: activity.id), remote: true, method: "delete" do %>
					<span class="glyphicon glyphicon-remove"></span>
			 	<% end %>
			</div>
			<div>
				<%= link_to notifications_path(id: activity.id), remote: true, method: "patch", style: "#{options[1]}" do %>
					<span class="glyphicon glyphicon-ok-circle"></span>
				<% end %>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
</li>
