<div class="container" id="profileButtons">
   <ul class="nav nav-tabs profileButtonContent">

      <!-- include tab for employers to contact employees -->
      <% if @user.has_role? :employee %>

      <% elsif @user.has_role? :employer %>
         <!--
         ## Example
         render partial: "shared/site_tabs", locals: { active: 'posting', job: @job_posting, user_path: user_path(@user) }
         ##User - Job Provider
            ##General/Common Tabs for All
               ##variable is user_path
               ##About Us
               ##Jobs
            ##Posting Tabs
               ##variable is posting_path 
               ##variable job is conditional for these tabs
               ##Applicants
               ##Survey/Ideal Candidate
               ##Posting Info
            ##New Posting Tab
              ## variable new_job is conditional for these tabs
         -->
         <!-- preprocess variables -->
         <% user_path = defined?(user_path) && !user_path.blank? ? ',"' + user_path + '"' : ''%>
         <% posting_path = defined?(posting_path) && !posting_path.blank? ? ',"' + posting_path + '"' : ''%>

         <!-- setup pre and post suffix -->
         <% pre = user_signed_in? && @current_user==@user ? "setHomeTab(" : "setNavTab(" %>
         <% post = ");" %>

         <!-- Setup class-active variables -->
         <% aboutClass = "" %>
         <% jobClass = "" %>
         <% surveyClass = "" %>
         <% postingClass = "" %>
         <% appClass = "" %>

         <% if active == "new_job" %>
            <!-- To ensure no other actives get through -->
         <% elsif active == "jobs" %>
            <% jobClass = "class=active" %>
         <% elsif active == "posting" && defined?(job) %>
            <% postingClass = "class=active" %>
         <% elsif active == "survey" && defined?(job)  %>
            <% surveyClass = "class=active" %>
         <% elsif active == "applicants" && defined?(job) %>
            <% appClass = "class=active" %>
         <% else %>
            <% aboutClass = "class=active" %>
         <% end %>

         <!-- Display Tabs -->
         <% if active == "new_job" %>
            <li class="active" onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this);>
               <a data-toggle="tab" href="#">NEW JOB POSTING</a>
            </li>
         <% end %>
         <% if defined?(job) %>
            <% if current_user == @user && current_user == job.user %>
               <li <%= appClass %> onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onclick=<%= pre+"\'applicants\'"+posting_path+post%>>
                  <a data-toggle="tab" href="#applicants">APPLICANTS</a>
               </li>
            <% end %>
            <li <%= surveyClass %> onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onclick=<%= pre+"\'survey\'"+posting_path+post%>>
               <a data-toggle="tab" href="#survey">IDEAL CANDIDATE</a>
            </li>
            <li <%= postingClass %> onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onclick=<%= pre+"\'posting\'"+posting_path+post%>>
               <a data-toggle="tab" href="#posting"><%= job.title.upcase %></a>
            </li>
         <% end %>
         <li <%= aboutClass %> onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onclick=<%= pre+"\'about\'"+user_path+post%>>
            <a data-toggle="tab" href="#about">ABOUT US</a>
         </li> 
         <li <%= jobClass %> onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onclick=<%= pre+"\'jobs\'"+user_path+post%>>
            <a data-toggle="tab" href="#jobs">JOBS</a>
         </li>
      <% end %>
   </ul>
</div>