<div class="row landing" style="margin-left: 0px; margin-right: 0px;">
	<div class="col-xs-4 col-sm-6 col-md-6">
	</div>
<% if !user_signed_in? %>
	<%= render 'welcome/shared/landing' %>
<% elsif current_user.has_role?(:employee) %>
	<%= render 'welcome/shared/job_seeker_landing' %>
<% elsif current_user.has_role?(:employer) %>
	<%= render 'welcome/shared/job_provider_landing' %>
<% else %>
	<%= render 'welcome/shared/landing' %>
<% end %>
	<div class="col-xs-1 col-sm-1 col-md-1">
	</div>
</div>
<div class="row" style="padding-top:70px;">
	<div class="col-xs-12 col-sm-4 col-md-4">
		<h3 style="padding-bottom: 3px;">Tips for Job Seekers</h3>
		<ul style="text-align: left;">
			<% @job_seeker_links.each do |js| %>
				<li><%= link_to js.message, js.link %></li>
			<% end %>
		</ul>
	</div>

	<div class="col-xs-12 col-sm-4 col-md-4">
		<h3 style="padding-bottom: 3px;">Tips for Job Providers</h3>
		<ul style="text-align: left;">
			<% @job_provider_links.each do |jp| %>
				<li><%= link_to jp.message, jp.link %></li>
			<% end %>
		</ul>
	</div>

	<div class="col-xs-12 col-sm-4 col-md-4">
		<h3 style="padding-bottom: 3px;">System Announcements</h3>
		<ul style="text-align: left;">
			<% @announcments.each do |an| %>
				<li><%= an.message %></li>
			<% end %>
		</ul>
	</div>
</div>
