<div class="row">
		<div class="col-md-12" style="min-height:150px; background-color: #1397ce; margin-top:-20px;">
			<h3 style="color:white; vertical-align: middle; padding-top: 60px;">Want to learn more about EdgeMap and what it has to offer?  Check us out <%= link_to 'here', welcome_index_path, style:"color:white;" %></h3>
		</div>
	</div>

<h4>Lost Login </h4>
<p>Please fill out the form below to have an administrator check for your account informaiton. </p>

<%= simple_form_for :user, url: send_lost_email_path do |f| %>
	<div class="row">
		<div class="col-md-4">
		<%= f.input :email, label: "Contact email:", required: true %>
		<%= f.input :first_name, label: "First Name:", required: true %>
		<%= f.input :last_name, label: "Last Name:", required: true %>
		<%= f.input :message, required: false, as: :text, label: "Please include any other details here:", wrapper_html: { style: "padding-left:0px;" }  %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<%= f.button :submit, "Send Request", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>