

<%= simple_form_for @employer, url: registration_path(@employer) do |employer| %>
  <%= devise_error_messages! %>

<div class="employer">
	<div class="col-xs-12 col-sm-6 col-md-5" style="padding-right: 70px;">
    <h2 style=>Sign up for Job Providers</h2>
    <br />

    <%= employer.input :first_name, autofocus: true, required: true %>
    <%= employer.input :last_name, required: true %>
    <%= employer.input :email, required: true %>
    <%= employer.input :company_name, required: true %>
    <%= employer.input :password, required: true %>
    <%= employer.input :password_confirmation, required: true %>
    <%= employer.input :city, required: true, label: 'City. This is used to help job providers find local job seekers.' %>
    <%= employer.input :province, collection: PROVINCES, required: true, label: 'Province. This is used to help job providers find local job seekers.'  %>
    <%= employer.input :postal_code, required: true %>
    <%= employer.input :gender, collection: GENDERS, as: :radio_buttons, item_wrapper_class: 'radio-inline margin-top-0', wrapper_html: { class: "padding-left-0" } %>
    <%= employer.input :birth_date, required: true, as: :date, start_year: Date.today.year-100, end_year: Date.today.year-15 %>

    <%= hidden_field_tag :role, "employer" %>
  
    <div style="margin-bottom: 15px;"><%= recaptcha_tags %></div>
  		
    <div class="actions" style="display: table;">
      <%= employer.button :submit, class: 'btn btn-primary' %>
      <div style="padding-left: 3px;display: table-cell;vertical-align: bottom;">Already a user? <%= link_to "Log in", new_session_path(resource_name) %></div>
    </div>
		<br>
    <div class="shared_links">
      <%= render "users/shared/links" %>
    </div>
	</div>
  <div class="col-xs-12 col-sm-6 col-md-7">
    <div class="row">
      <h2>Please read the following consent form and fill out the information in the bottom</h2><br />
      <div class="padding-left-5" style="height:400px; overflow:auto;">
        <%= render "consent/shared/adult_consent" %>
        <%= employer.simple_fields_for :consent do |c| %>
          <%= c.input :name, label: 'Please enter your full name.  It must match the info you have to the left.', required: true, input_html: { style: 'width: 50%;' } %>
          <%= c.input :date_signed %>
          <%= c.hidden_field :consent_type, value: 1 %>
          <%= c.collection_radio_buttons :answer, [[1, 'Yes, I consent'], [0, 'No, I do not consent']], :first, :last, checked: 1, item_wrapper_class: 'inline' do |b|  b.radio_button + b.label(:class => "padding-left-5") end %><br />
        <% end %>
      </div>
    </div>
    <div class="row">
      <h2>Please scroll down to complete the consent form.</h2>
    </div>
  </div>
</div>
<% end %>
<div style="clear: both;"></div>