<% if result.has_role? :employee %>
	<div class="display-flex col-md-2">
		<%= image_tag result.image.url(:thumb), alt:"User Icon", class: "profile-image align-center" %>
	</div>
	<div class="col-md-10">
		<div class="row">
			<b><%= "#{result.first_name} #{result.last_name}" %></b>
		</div>
		<div class="row" style="color: dimgray;">
			<%= "#{result.city}, #{result.province}" %>
		</div>
		<div class="row" style="color: darkgray;">
			<%= "#{result.summary}" %>
		</div>
	</div>
<% elsif result.has_role? :employer %>
	<div class="display-flex col-md-2">
		<%= image_tag result.image.url(:thumb), alt:"User Icon", class: "profile-image align-center" %>
	</div>
	<div class="col-md-10">
		<div class="row">
			<b><%= "#{result.company_name}" %></b>
		</div>
		<div class="row" style="color: dimgray;">
			<%= "#{result.city}, #{result.province}" %>
		</div>
		<div class="row" style="color: darkgray;">
			<%= "#{result.summary}" %>
		</div>
	</div>
<% end %>