<script type="text/javascript">
	$(function() {
  		$('#project_image').on('change', function(event) {
   			var files = event.target.files;
    		var image = files[0]
    		var reader = new FileReader();
    		reader.onload = function(file) {
      			var img = new Image();
      			console.log(file);
      			img.src = file.target.result;
      			img.style.height = '200px';
      			img.style.width = '200px';
      			$('#target').html(img);
    		}
    		reader.readAsDataURL(image);
    		console.log(files);
  		});
	});
</script>

<%= simple_form_for @project do |f| %>
	<div class="row">
		<div class="col-md-3">
			<%= f.input :image, as: :file, wrapper_html: { class: 'margin-all-0 row' } %>
			<div class="margin-all-0 row" id="target">
				<%= image_tag @project.image.url(:medium) %>
			</div>
		</div>
		<div class="col-md-9" style="min-height: 260px;">
			<%= f.input :title, required: true, wrapper_html: { class: 'margin-all-0 row'} %>
			<%= f.input :project_date, wrapper_html: { class: 'margin-all-0 row'}, discard_day: true, order: [:month, :year] %>
		
			<%= f.input :description, required: true, as: :text, input_html: {rows: "4"}, wrapper_html: { class: 'padding-left-0 margin-all-0 row' } %>
		
		</div>
		
	</div>
	<%id=0%>
	<div class="row" id="project-skills">
		<% if @project_skills.nil? %>
			<%= f.simple_fields_for :project_skills do |builder| %>
				<%= render 'projects/project_skill_fields', id: id, f: builder %>
				<%id=id+1%>
			<% end %>
		<% else %>
			<% @project_skills.each do |ps| %>
				<%= f.simple_fields_for '[project_skills_attributes]', index: id do |builder| %>
					<%= render 'projects/project_skill_fields', id: id, f: builder, project_skill: ps[1] %>
					<%id=id+1%>
				<% end %>
			<% end %>
		<% end %>
	</div>
	<div class="row">
		<div class="col-md-3">
			<%= link_to_add_project_skill_fields "Add Skill", f, "btn btn-primary" %></p>
		</div>
	</div>

	<div class="row">
		<% if  @project.errors.messages[:project_skills] %>
			<div class="col-md-3 has-error">
				<span class="help-block"><%=  @project.errors.messages[:project_skills][0] %></span>
			</div>
		<% end %>
	</div>
	<%= f.button :submit, class: "btn btn-primary" %>
<% end %>