<div class="col-md-12 project-skill" id="project-skill-<%= id.to_s %>">

	<%= f.input :id, as: :hidden, input_html: {name: "project[project_skills_attributes]["+id.to_s+"][id]", id: "project_project_skills_attributes_"+id.to_s+"_id" } %>
	<%= f.simple_fields_for :skill do |builder| %>
		<div class="col-md-3"><%= builder.input :name, label: "Skill", input_html: {name: "project[project_skills_attributes]["+id.to_s+"][skill]", onclick:"skill_autocomplete('#{id}')", id: "skill-name-#{id}"} %></div>
	<% end %>
	<div class="col-md-6"><%= f.input :survey_id, required:true, collection: @surveys, prompt: "Select Classification", label: "Associated Survey Skill", input_html: {name: "project[project_skills_attributes]["+id.to_s+"][survey_id]"}%></div>
	<div class="col-md-1">
		<%= f.input :_destroy, as: :hidden, input_html: {value: false, name: "project[project_skills_attributes]["+id.to_s+"][_destroy]",id: "project-skill-destroy-#{id}"}%>
		<span class="glyphicon glyphicon-remove" onclick="remove_project_skill('<%=id%>')"></span>
	</div>
</div>