<div class="container">
	<%= simple_form_for @project do |f| %>
		<%= f.input :title, required: true %>
		<%= f.input :description, required: true, as: :text %>
		<% if @project.image.exists? %>
  			<%= image_tag @project.image.url %><br/>
		<% end %>
		<%= f.input :image, as: :file %>
		<%= f.check_box :image_delete %>Delete Image<br/>
		<%= f.button :submit %>
	<% end %>

	<% if @skills.empty? %>
		<p>You have no skills currently.  If you want, add one below! </p>
	<% else %>

	<% end %>
	<%= simple_form_for @project_skill, url: project_skills_path, method: "post" do |s| %>
		<%= s.hidden_field :project_id, value: @project.id %>
		<%= s.input :name %>
		<%= s.submit :submit %>
	<% end %>
</div>