<% if !@projects.empty? %>
	<div class="projects">
		<div class="container">
			<div class="row">
				<div class="col-xs-6">
					<% @projects.each do |p| %>
						<%= image_tag p.image.url %>
						<h2><%= p.title %></h2>
						<p><%= p.description %></p>
						<!-- <% #if !@skills.empty? 
						%>
							<p>Skills associated with this project</p>
							<% #@skills[p.id].each do |s| 
							%>
								<p><%= #s.name
								%> </p>
							<% #end 
							%>
						<% #end 
						%> -->
						<% if user_signed_in? && @current_user==@user %>
							<%= link_to "Edit Project", edit_project_path(p) %><br />
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% else %>
	<% if current_user==@user %>
		<h3>You have no posted projects.  Fill out the form below to create one!</h3>
	<% else %>
		<h3>This user has no posted projects.
	<% end %>
<% end %>
<% if user_signed_in? && @current_user==@user %>
	<div class="row">
		<h3>Create another project below!</h3>
	</div>
	<%= render 'job_postings/job_posting_form' %>
	<div class ="container">
		<div class ="row">
			<div class="col-xs-6">
				<%= simple_form_for @project do |f| %>
					<%= f.input :title, required: true %>
					<%= f.input :description, required: true, as: :text %>
					<%= f.input :image, as: :file %>
					<%= f.button :submit %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>