<h1>Add a New Job to Your History</h1><br>

<!--form to be filled out with information for new job to add to history-->
<%= simple_form_for @job_histories do |f| %>
	<%= f.input :start_date, required: true, as: :date %>
	<%= f.input :end_date, as: :date %>
	<%= f.input :employer, required: true %>
	<%= f.input :position, required: true %>
	<%= f.input :description, required: true, as: :text %>
	<!--skills learned can be altered to do scale or radio to link with skills in future-->
	<%= f.input :skills, required: true, as: :text %>
	<%= f.submit "Submit" %>
<% end %>
