<div class="signupbox col-md-5 col-xs-5">
	<div class="row">
		<div class="titlebox">
			<h4><b>Welcome <%= current_user.first_name + " " + current_user.last_name %></b></h4>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12">
			<%= link_to 'My Profile', user_path(current_user), class: 'signuplink', style: "color: white;" %>
			<ul style="text-align: left;">
				<% @user_bucket.each do |bucket| %>
					<% case bucket[0] %>
					<% when :new_user_survey %>
						<li><h4>Did you know, you can view a job seekers' skills in a <%= link_to "graph form, and find common language for what it means?", bucket[1] %></h4></li>
					<% when :new_user_contact %>
						<li><h4>Did you know, if you find an interesting job seeker, you can <%= link_to "contact them?", bucket[1] %></h4></li>
					<% when :new_user_views %>
						<li><h4>Did you know, you can see how many people <%= link_to "have viewed your job posting?", bucket[1] %></h4></li>
					<% when :new_user_compare %>
						<li><h4>Did you know, you can <%= link_to "compare applicants of a job in a graphical way?", bucket[1] %></h4></li>
					<% when :new_user_search %>
						<li><h4>Did you know, you can <%= link_to "search for job seekers based on their location?", bucket[1] %></h4></li>
					<% when :bio %>
						<li><h4>Your company biography is the first thing job seekers see on your page.  Include some info so they can know more about you.  Update it <%= link_to "here", user_path(current_user), onclick: "setHomeTab('bio')" %> </h4></li>
					<% when :new_app %>
						<%= link_to 'App', '#', onclick: "window.location='"+show_trackable_path(bucket[1])+"'" %>
					<% when :user_skill %>
						<li><h4>The most popular Job Seeker skill on EdgeMap is <%= bucket[1].titleize %>.</h4></li>
					<% when :job_skill %>
						<li><h4>The most demanded skill by Job Providers on EdgeMap is <%= bucket[1].titleize %>.</h4></li>
					<% when :online %>
						<li><h4><%= I18n.t('users', count: bucket[1]) %> online right now.</h4></li>
					<% when :expired_blank %>
						<li><h4>You have a job posting that has expired and has no applicants.  You can extend it <%= link_to "here", edit_job_posting_path(bucket[1]) %></h4></li>
					<% when :expired_with_apps %>
						<li><h4>You have a job posting that has expired and has some applicants.  You can look at them <%= link_to 'here', '#', onclick: "setHomeTab(\'applicants\',\'"+job_posting_path(bucket[1])+"\');", data: { toggle: "tab" } %></h4></li>
					<% else %>
						<li><h4><%= link_to bucket[0], bucket[1] %></h4></li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
	<br />
	<div class="footerbox row">
		<h5>Already a member? <a href="users/sign_in">Login</a></h5>
	</div>
</div>