<div class ="row survey-box-row">
	<div class="col-md-1"></div>
	<% i=1 %>
	<% onclick="" %>
	<% Survey.all.each do |s|%>
		<% css_class = "col-md-2 survey-box" %>
		<% css_class += " unanswered" if !user.answered_surveys[i - 1] %>
		<% div_onclick="" %>
		<% if user_signed_in? && current_user==user && !user.answered_surveys[i - 1] %>
			<% div_onclick = "window.location = '#{survey_path(s.title)}'" %>
		<% end %>
		<div class ="<%= css_class %>" onclick="<%=raw div_onclick %>">
			<h5><%= s.format_title.html_safe %></h5>
			<%= column_chart [
				{name: "Average Job Seeker", data: @average_results[i]},
				{name: "My Results", data: results[i], library: {style: {opacity: "0.2"}}}
				], height: "100px", min: 0, max: 3, library: { legend: { position: 'none' }, vAxis: { textPosition: 'none' }, hAxis: {textPosition: 'none'}, series:{0 => {type: "line"}}} %>
			<% if user.answered_surveys[i - 1] && user_signed_in? && current_user==user%>
				<%= link_to "Update", survey_path(s.title) %>
			<% end %>
		</div>
		<div class="col-md-1"></div>
		<% if i % 3 == 0 && i < 12 %>
			</div>

			<div class ="row survey-box-row"> 
			<div class="col-md-1"></div>
		<% end %>
		<% i += 1 %>
	<% end %>
</div>
