<div class = "row" style="text-align:center;">
	<div class = "col-lg-6">
		<h4> Surveys </h4>
	</div>
</div>

<div class ="row survey-box-row">
	<% i=1 %>
	<% onclick="" %>
	<% Survey.all.each do |s|%>
		<% css_class = "col-lg-2 survey-box" %>
		<% css_class += " unanswered" if !user.answered_surveys[i - 1] %>
		<% div_onclick="" %>
		<% if user_signed_in? && current_user==user && !user.answered_surveys[i - 1] %>
			<% div_onclick = "window.location = '#{survey_path(s.title)}'" %>
		<% end %>
		<div class ="<%= css_class %>" onclick="<%=raw div_onclick %>">
			<h5><%= s.format_title.html_safe %></h5>
			<%= column_chart results[i], height: "100px", min: 0, max: 4, library: {hAxis: {textPosition: 'none'}, vAxis: {textPosition: 'none'}} %>
			<% if user.answered_surveys[i - 1] && user_signed_in? && current_user==user%>
				<%= link_to "Update", survey_path(s.title) %>
			<% end %>
		</div>
		<% if i % 3 == 0 && i < 12 %>
			</div>
			<div class ="row survey-box-row"> 
		<% end %>
		<% i += 1 %>
	<% end %>
</div>
