<div class="col-md-12">	
<div class="row row-style-top">
	<div class="col-lg-4 col-style"> <h2><%=@survey.format_title.html_safe%></h2> 

<%= column_chart [
				{name: "My Results", data: @survey_results},
				{name: "Average Job Seeker", data: @average_results}
				], height: "200px", min: 0, max: 3, library: { legend: { position: 'top' }} %>
	</div>
	<% @score_meanings.each do |sm|%>
		<div class="col-lg-2 col-style"><%=sm%></div>
	<% end %>
</div>
<%= simple_form_for @response, method: @method do |f| %>
	<%= f.hidden_field :survey_id, value: @survey.id%>

	<% @initial_id = @questions.first.id %>
	<% for i in 0..@question_count-1 %>
		<div class="row row-style" >
			<div class="col-lg-4 col-style">
				<% @question = @questions.find_by(id: @initial_id + i) %>
				<h3> <%= @question.classification %> </h3>
				<ul>
					<% @question.prompts.each do |p| %>
						<li> <%= p.prompt %> </li>
					<% end %>
				</ul>
			</div>
											
			<%= f.input_field "scores[#{i}]",
			 	as: :radio_buttons,
			 	collection: @collection_array,
			 	label_method: :last, 
				value_method: :first, 
 				item_wrapper_class: 'col-lg-2 col-style',
 				item_label_class: 'center',
 				label: false,
 				checked: @values_array[i]
 			%>
			<%= f.hidden_field "question_ids[#{i}]", value: @question.id %>
		</div>
	<% end %>
	<%= f.button :submit, 'Submit' %>
<% end %>
</div>



