<div class="container">
	<div class="row">
		<div class="col-lg-6"></div>
		<div class="col-lg-1"><h6>I dont know how to do any of these</h6></div>
		<div class="col-lg-1"><h6>for a few of these I can do them well</h6></div>
		<div class="col-lg-1"><h6>For about half of these, I can do them well</h6></div>
		<div class="col-lg-1"><h6>For most or all of these, I can do them well</h6></div>
	</div>
	
	<%= simple_form_for @survey, method: "post" do |f| %>
		<% @cnt = @questions.first.id #CNT keeps track of the question id in the loop%>
		<%= f.simple_fields_for :questions do |question|%>
			<div class="row">
				<div class="col-lg-6">
					<% @question = @questions.find_by(id: @cnt) %>
					<h3> <%= @question.classification %> </h3>
					<ul>
						<% @question.prompts.each do |p| %>
							<li> <%= p.prompt %> </li>
						<% end %>
					</ul>
				</div>
				<%= question.simple_fields_for :responses do |r|%> <!-- NEED TO CHANGE THE 3 to max rating-->
					<%= r.input :score, as: :radio_buttons, collection: 0..3, :item_wrapper_class => 'col-lg-1', label: false %>
				<% end %>	
			</div>
			<% @cnt = @cnt + 1%>
		<% end %>		
		<%= f.button :submit, 'Submit' %>
	<% end %>
</div>



