<div class="row row-style-top">
	<div class="col-lg-6 col-style"> <h2><%=@survey.category%></h2><h3><%=@survey.format_title.html_safe%></h3> </div>
	<div class="col-lg-1 col-style"><h6>I dont know how to do any of these</h6></div>
	<div class="col-lg-1 col-style"><h6>for a few of these I can do them well</h6></div>
	<div class="col-lg-1 col-style"><h6>For about half of these, I can do them well</h6></div>
	<div class="col-lg-1 col-style"><h6>For most or all of these, I can do them well</h6></div>
</div>
	
<%= simple_form_for @response, method: @method do |f| %>
	<%= f.hidden_field :survey_id, value: @survey.id%>

	<% @initial_id = @questions.first.id %>
	<% for i in 0..@question_count-1 %>
		<div class="row row-style" >
			<div class="col-lg-6 col-style">
				<% @question = @questions.find_by(id: @initial_id + i) %>
				<h3> <%= @question.classification %> </h3>
				<ul>
					<% @question.prompts.each do |p| %>
						<li> <%= p.prompt %> </li>
					<% end %>
				</ul>
			</div>
											
			<%= f.input_field "scores[#{i}]",
			 	as: :radio_buttons,
			 	collection: @collection_array,
			 	label_method: :last, 
				value_method: :first, 
 				item_wrapper_class: 'col-lg-1 col-style',
 				item_label_class: 'center',
 				label: false,
 				checked: @values_array[i]
 			%>
			<%= f.hidden_field "question_ids[#{i}]", value: @question.id %>
		</div>
	<% end %>
	<%= f.button :submit, 'Submit' %>
<% end %>



