<%= render "users/shared/profile" %>

<%= render partial: "shared/job_seeker_tabs", locals: {active: "references", path: user_path(@user) } %>

<div class ="container">
	<h4><b>Request a Reference</b></h4>
	<p> Fill out this form to ask your contact to give you a reference.</p><br />
		
	<%= simple_form_for @reference_email do |r| %>
		<div class="row">
			<%= r.input :first_name, required: true, wrapper_html: { class: "col-md-3" } %>
		</div>
		<div class="row">
			<%= r.input :last_name, required: true, wrapper_html: { class: "col-md-3" } %>
		</div>
		<div class="row">
			<%= r.input :email, as: "email", required: true, wrapper_html: { class: "col-md-3" } %>
		</div>
		<div class="row">
			<%= r.input :message, as: :text, required: true, wrapper_html: { class: "padding-left-15 col-md-3" } %>
		</div>
		<%= r.hidden_field :reference_url, :value => @url%>
		<%= r.button :submit, 'Send', class: "btn btn-primary" %>
	<% end %>
</div>