<% if flash[:notice] %>
    <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:notice] %></div>
<% end %>

<div class="references">
	<div class="row">
		<% if @unconfirmed_references.empty? && @confirmed_references.empty? %>
			<h3>You have no references. <%= link_to "Click here to send a reference request!", email_reference_path %></h3>
		<% else %>
			<h3>Need more references? <%= link_to "Click here to send a reference request!", email_reference_path %></h3>
		<% end %>
		<br>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<h3> Confirmed References </h3>
			<% if !@confirmed_references.empty? %>
				<% @confirmed_references.each do |r| %>
					<h3><%= r.first_name%> <%= r.last_name %></h3>
					<h4><%= r.company%>: <%= r.position %></h4>
					<h6>Contact: Email: <%= r.email %> , Phone: <%= r.phone_number %> </h6>
					<p><%= r.reference_body %></p>
					<%= link_to "UnConfirm", update_reference_path(r), method: "patch" %> <%= link_to "Delete", delete_reference_path(r), method: "delete" %>
				<% end %>
			<% else %>
				<h6> You have no confirmed references.
			<% end %>
		</div>
		<div class="col-xs-6">
			<h3> Unconfirmed References </h3>
			<% if !@unconfirmed_references.empty? %>
				<% @unconfirmed_references.each do |r| %>
					<h3><%= r.first_name%> <%= r.last_name %></h3>
					<h4><%= r.company%>: <%= r.position %></h4>
					<h6>Contact: Email: <%= r.email %> , Phone: <%= r.phone_number %> </h6>
					<p><%= r.reference_body %></p>
					<%= link_to "Confirm", update_reference_path(r), method: "patch" %> <%= link_to "Delete", delete_reference_path(r), method: "delete" %>
				<% end %>
			<% else %>
				<h6> You have no unconfirmed references. </h6>
			<% end %>
		</div>

		<div class="col-xs-6">
			<h3> References Requests </h3>
			<% if !@reference_requests.empty? %>
				<% @reference_requests.each do |r| %>
					<h4><%= link_to "#{r.user.first_name} #{r.user.last_name}", user_path(r.user_id) %> <%= link_to "Refer", new_reference_path(r.reference_url)%></h4>
				<% end %>
			<% else %>
				<h6> You have no reference requests. </h6>
			<% end %>
		</div>
	</div>
</div>