<!-- if employee is here just in case for now. -->
<% ##if @user.has_role? :employee %>

<div class ="container">
		<p>Refer: <%= @user.first_name %> <%= @user.last_name %></p>

		<%= simple_form_for @reference do |r| %>
			<%= r.input :first_name %>
			<%= r.input :last_name %>
			<%= r.input :email %>
			<%= r.input :company %>
			<%= r.input :position %>
			<%= r.input :phone_number, :input_html => { :type => "tel", :pattern => "[\+]\d{1}[\(]\d{3}[\)]\d{3}[\-]\d{4}", :placeholder => "+9(999)999-9999" }%>
			<%= r.input :reference_body%>
			<%= r.hidden_field :user_id, :value => @user.id %>
			<%= r.button :submit %>
		<% end -%>
		
	</div>