<%= simple_form_for @job_posting do |f| %>
	<%= f.input :title, required: true %>
	<%= f.input :location, required: true, label: "Location (City, Province Code)"%>
	<%= f.input :category %>
	<%= f.input :pay_range, required: true %>
	<%= f.input :link %>
	<%= f.input :posted_by %>
	<%= f.input :description, required: true, as: :text %>
	<div class="row">
		<div class="col-md-6"><%= f.input :open_date, as: :string, required: true, input_html: {type: :date} %></div>
		<div class="col-md-6"><%= f.input :close_date, as: :string, required: true, input_html: {type: :date} %></div>
	</div>

	<%i=0%>
	<%= f.simple_fields_for :job_posting_skills do |builder| %>
		<%= render 'job_postings/job_skill_fields', id: i, f: builder %>
		<%i=i+1%>
	<% end%>
	
	<br>
	<%= f.input :company_logo, as: :file %>
	<br>

	<%= f.button :submit %>
<% end %>