<h4><b>Job Applications for <%= @job_posting.title %></b></h4>
<p>Here, you can view all the job seekers who applied, along with a summary of their skills that match your job description's required and preferred skills.  For example, a required skill with a checkmark means that the job seeker has that skill.  On the otherhand, a required skill with a cross, means that the job seeker is missing the skill.  Once you have decided on the outcome of the application, you can reject, consider, or accept it, so that the job seeker will be notified of your decision.</p>
<p>You may also wish to compare the job seekers' skills visually in a graph form.</p>

<div class="row margin-left-0">
  <%= link_to "Compare Applicant Skills", compare_applications_path(@job_posting), class: "btn btn-primary" %>
</div>
<br />
<table data-toggle="table" data-sort-order="desc" data-sort-name="1" data-classes="table table-no-bordered">
<thead>
    <tr>
      <th data-sortable="false" class="col-md-3">Applicant</th>
      <th data-sortable="true" class="right">Required Skills</th>
      <th data-sortable="true" class="right">Preferred Skills</th>
      <th data-sortable="true" class="right visible-sm visible-md visible-lg">Status</th>
      <th data-sortable="true" class="padding-left-5 visible-sm visible-md visible-lg">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @job_posting_applications.each do |j| %>
      <tr class="alternate">
        <td>
          <%= image_tag j.applicant.image.url(:thumb), class: "image-radius thumb-shadow" if !j.applicant.image.nil? %>
          <div class="visible-md visible-lg">
            <%= link_to "#{j.applicant.first_name} #{j.applicant.last_name}", job_posting_application_path(j) %><br />
            <%= j.message.truncate(100) %><br /><%= link_to ' See more.', job_posting_application_path(j) %>
          </div>
          <div class="visible-xs visible-sm">
            <br />
            <%= link_to "#{j.applicant.first_name} #{j.applicant.last_name}", job_posting_application_path(j) %><br />
            <%= link_to ' See more.', job_posting_application_path(j) %>
          </div>
        </td>
        <td>
          <% if !@req_skills.empty? %>
            <ul class="custom-bullet">
              <% @req_skills.each do |r| %>
                <% if @applicant_skills[j.applicant.id][:required].detect { |h| h[:user_skill].skill==r.skill } %>
                  <li class="yes"><%=r.skill.name.titleize%></li>
                <% else %>
                  <li class="no"><%=r.skill.name.titleize%></li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </td>
        <td>
          <% if !@pref_skills.empty? %>
            <ul class="custom-bullet">
              <% @pref_skills.each do |r| %>
                <% if @applicant_skills[j.applicant.id][:preferred].detect { |h| h[:user_skill].skill==r.skill } %>
                  <li class="yes"><%=r.skill.name.titleize%></li>
                <% else %>
                  <li class="no"><%=r.skill.name.titleize%></li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </td>
        <td class="visible-sm visible-md visible-lg">
         <%= j.get_status_string %>
        </td>
        <td>
          <div class="visible-sm">
            <div class="col-sm-12">
              <%= link_to "View Profile", user_path(j.applicant), class: "btn btn-primary" %>
              <%= link_to "Reject", update_job_posting_application_path(j,status:"Rejected"), class: "btn btn-danger", method: "patch" %>
            </div>
            <div class="col-sm-12 padding-top-10">
              <%= link_to "Consider", update_job_posting_application_path(j, status:"Considering"), class: "btn btn-info", method: "patch" %>
              <%= link_to "Accept", update_job_posting_application_path(j, status:"Accepted"), class: "btn btn-success", method: "patch" %>
            </div>
          </div>
          <div class="visible-md visible-lg">
            <%= link_to "View Profile", user_path(j.applicant), class: "btn btn-primary" %>
            <%= link_to "Reject", update_job_posting_application_path(j,status:"Rejected"), class: "btn btn-danger", method: "patch" %>
            <%= link_to "Consider", update_job_posting_application_path(j, status:"Considering"), class: "btn btn-info", method: "patch" %>
            <%= link_to "Accept", update_job_posting_application_path(j, status:"Accepted"), class: "btn btn-success", method: "patch" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>