<%= simple_form_for @job_posting do |f| %>
	<%= f.input :title, required: true %>
	<%= f.input :location, required: true, label: "Location (City, Province Code)"%>
	<% if !@job_posting.job_category.nil? %>
		<%= f.input :job_category, required: true, label: "Category", input_html:{value:@job_posting.job_category.name}%>
	<% else %>
		<%= f.input :job_category, required: true, label: "Category" %>
	<% end %>
	<%= f.input :pay_range %>
	<%= f.input :link %>
	<%= f.input :posted_by %>
	<%= f.input :description, required: true, as: :text %>
	<div class="row">
		<div class="col-md-6"><%= f.input :open_date, as: :string, required: true, input_html: {type: :date} %></div>
		<div class="col-md-6"><%= f.input :close_date, as: :string, required: true, input_html: {type: :date} %></div>
	</div>

	<%i=0%>
	<div id="job-skills">
		<%= f.simple_fields_for :job_posting_skills do |builder| %>
			<%= render 'job_postings/job_posting_skill_fields', id: i, f: builder %>
			<%i=i+1%>
		<% end%>
	</div>
	<p><%= link_to_add_fields "Add Skill", f %></p>

	<br>
	<%= f.input :company_logo, as: :file %>
	<br>

	<%= f.button :submit %>
<% end %>