<%= render "users/shared/profile" %>

<% if current_user.has_role? :employee %>
	<%= render partial: "shared/site_tabs", locals: { active: "applications", user_path: user_path(@user) } %>
<% elsif current_user.has_role? :employer %>
	<%= render partial: "shared/site_tabs", locals: { active: 'applicants', job: @job_posting, posting_path: job_posting_path(@job_posting), user_path: user_path(@user) } %>
<% end %>
	

<% if current_user.has_role? :employee %>
    <div class="tab-content">

    	<h4><b>You application for <%= @job_posting.title %></b></h4>
		<p>Below you can view your application, and delete it if you so choose.</p>

		<div class="row">
	  		<div class="padding-left-0 col-md-2">
			    <%= link_to "View Original Job Posting", job_posting_path(@job_posting.id), class: "btn btn-primary" %>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="padding-left-0 col-md-3">
				<h5><b>Application Status: </b><%= @job_posting_application.get_status_string %></h5>
			</div>
		</div>

		<div class="row">
			<div class="padding-left-0 col-md-2">
				<%= image_tag @job_posting_application.applicant.image.url(:small), class: "image-radius small-shadow" if !@job_posting_application.applicant.image.nil? %>
				<h4> <%="#{@job_posting_application.applicant.first_name} #{@job_posting_application.applicant.last_name}"%></h4>
				<% unless @job_posting_application.applicant.resume.blank? %>
             		<p>Current Resume: <%= link_to @job_posting_application.applicant.resume.original_filename, @job_posting_application.applicant.resume.url, target: '_blank' %></p>
            	<% end %>
			</div>
			<div class="col-md-4">
				<h4><b>Applicant Message:</b></h4>
				<%= raw("<p>#{@job_posting_application.message}</p>") if !@job_posting_application.message.blank? %>
			</div>
			<div class="col-md-6">
				<p>Below are all the skills required and preferred by <%= @job_posting.user.company_name %> for this job.  A checkmark, <small><span class="glyphicon glyphicon-ok"></span></small>, means you have the skill, and an x, <small><span class="glyphicon glyphicon-remove"></span></small>, means you do not.</p>
				<% if !@req_skills.empty? %>
					<h4><b>Required Skills</b></h4>
					<ul class="custom-bullet">
						<%@req_skills.each do |r| %>
							<% if @user_required_matches.detect { |h| h[:user_skill].skill==r.skill } %>
								<li class="yes"><%=r.skill.name.titleize%></li>
							<% else %>
								<li class="no"><%=r.skill.name.titleize%></li>
							<% end %>
						<% end %>
					</ul>
				<% end %>

				<% if !@pref_skills.empty? %>
					<h4><b>Preferred Skills</b></h4>
					<ul class="custom-bullet">
						<%@pref_skills.each do |p| %>
							<% if @user_preferred_matches.detect { |h| h[:user_skill].skill==p.skill } %>
								<li class="yes"><%=p.skill.name.titleize%></li>
							<% else %>
								<li class="no"><%=p.skill.name.titleize%></li>
							<% end %>
						<% end %>
					</ul>
				<% end %>
			</div>
		</div>
	</div>
	<br />
	<div>
		<%= link_to "Delete", job_posting_application_path(@job_posting_application), data: {confirm: "Are you sure you want to delete this application?"}, method: "delete", class: "btn btn-danger", id: "delete_job_application"%>
	</div>

<% elsif current_user.has_role? :employer %>
	<h4><b>Application from <%= @job_posting_application.applicant.first_name + " " + @job_posting_application.applicant.last_name %> for <%= @job_posting.title %></b></h4>
	<p>Below you can view the application and the entire message they have provided.</p>
	<div class="row">
		<div class="col-md-3">
			<h5><b>Application Status: </b><%= @job_posting_application.get_status_string %></h5>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<%= image_tag @job_posting_application.applicant.image.url(:small), class: "image-radius small-shadow" if !@job_posting_application.applicant.image.nil? %>
			<h4> <%="#{@job_posting_application.applicant.first_name} #{@job_posting_application.applicant.last_name}"%></h4>
			<% unless @job_posting_application.applicant.resume.blank? %>
      	 		<p>Current Resume: <%= link_to @job_posting_application.applicant.resume.original_filename, @job_posting_application.applicant.resume.url, target: '_blank' %></p>
           	<% end %>
		</div>
		<div class="col-md-4">
			<h4><b>Applicant Message:</b></h4>
			<%= raw("<p>#{@job_posting_application.message}</p>") if !@job_posting_application.message.blank? %>
		</div>
		<div class="col-md-6">
			<% if @job_posting_application.applicant.id == current_user.id %>
				<p>Below are all the skills required and preferred by <%= @job_posting.user.company_name %> for this job.  A checkmark, <small><span class="glyphicon glyphicon-ok"></span></small>, means you have the skill, and an x, <small><span class="glyphicon glyphicon-remove"></span></small>, means you do not.</p>
			<% else %>
				<p>Below are the skills required and preferrred for this posting.  A checkmark, <small><span class="glyphicon glyphicon-ok"></span></small>, means <%= @job_posting_application.applicant.first_name %> has the skill, and an x, <small><span class="glyphicon glyphicon-remove"></span></small>, means they do not.</p>
			<% end %>
			<% if !@req_skills.empty? %>
				<h4><b>Required Skills</b></h4>
				<ul class="custom-bullet">
					<%@req_skills.each do |r| %>
						<% if @user_required_matches.detect { |h| h[:user_skill].skill==r.skill } %>
							<li class="yes"><%=r.skill.name.titleize%></li>
						<% else %>
							<li class="no"><%=r.skill.name.titleize%></li>
						<% end %>
					<% end %>
				</ul>
			<% end %>

			<% if !@pref_skills.empty? %>
				<h4><b>Preferred Skills</b></h4>
				<ul class="custom-bullet">
					<%@pref_skills.each do |p| %>
						<% if @user_preferred_matches.detect { |h| h[:user_skill].skill==p.skill } %>
							<li class="yes"><%=p.skill.name.titleize%></li>
						<% else %>
							<li class="no"><%=p.skill.name.titleize%></li>
						<% end %>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>

	<div>
		<br>
		<%= link_to "View Profile", user_path(@job_posting_application.applicant), class: "btn btn-primary" %>
		<%= link_to "Reject", update_job_posting_application_path(@job_posting_application,status:"Rejected"), class: "btn btn-danger", method: "patch" %>
		<%= link_to "Consider", update_job_posting_application_path(@job_posting_application, status:"Considering"), class: "btn btn-info", method: "patch" %>
		<%= link_to "Accept", update_job_posting_application_path(@job_posting_application, status:"Accepted"), class: "btn btn-success", method: "patch" %>
	</div>
<% end %>