<% if !@toggles[:l].nil? %>
	<%= render "searches/partials/filter", name: "Location", key: :l, filter_values: @locations, current_values: @l%>
<% end%>

<% if !@toggles[:r].nil? && user_signed_in? %>
	<%= render "searches/partials/filter", name: "Relationship", key: :r, filter_values: @relationships, current_values: @r%>
<% end%>

<% if !@toggles[:cc].nil? %>
	<%= render "searches/partials/filter", name: "Current Company", key: :cc, filter_values: @current_companies, current_values: @cc %>
<% end%>

<% if !@toggles[:i].nil? %>
	<%= render "searches/partials/filter", name: "Industry", key: :i, filter_values: @industries, current_values: @i %>
<% end%>

<% if !@toggles[:pc].nil? %>
	<%= render "searches/partials/filter", name: "Past_Company", key: :pc, filter_values: @past_companies, current_values: @pc %>
<% end%>

<% if !@toggles[:e].nil? %>
	<%= render "searches/partials/filter", name: "Education", key: :e, filter_values: @educations, current_values: @e %>
<% end%>

<% if !@toggles[:s].nil? %>
	<%= render "searches/partials/filter", name: "Skills", key: :s, filter_values: @skills, current_values: @s %>
<% end%>

<% if !@toggles[:h].nil? %>
	<hr>
	<h6 class="filter-title" onclick="$('#hiring').slideToggle(100);">Hiring <span class="caret"></span></h6>
	<div id="hiring" style="display: none;">
		<% path_hash = get_path_hash(@toggles,@query,@type) %>
		<% path_hash[:h] = add_value(@l,"true") %>
		<% path_hash[:f] = add_filter(@filters,"hiring",@h) %>
		<%= link_to "Hiring", search_path(path_hash) %><br>
	</div>
<% end%>

<% if !@toggles[:cz].nil? %>
	<%= render "searches/partials/filter", name: "Company Size", key: :cz, filter_values: @company_sizes, current_values: @cz %>
<% end%>

<% if !@toggles[:c].nil? %>
	<%= render "searches/partials/filter", name: "Company", key: :c, filter_values: @companies, current_values: @c %>
<% end%>
			
<% if !@toggles[:dp].nil? %>
	<hr>
	<h6 class="filter-title" onclick="$('#date-posted').slideToggle(100);">Date Posted <span class="caret"></span></h6>
	<div id="date-posted" style="display: none;">
		<%= link_to	"All", search_path(q:@query, t:@type, f:"date_posted") %><br>
		<% str = "day" %> 
		<% cnt = 0 %>
		<% @dates_posted.each do |dp| %>
			<% str = "days" if cnt > 0 %>
			<% path_hash = get_path_hash(@toggles,@query,@type) %>
			<% path_hash[:dp] = add_value(@dp,dp) %>
			<% path_hash[:f] = add_filter(@filters,"date_posted",@dp) %>
			<%= link_to "#{dp} #{str} ago", search_path(path_hash) %><br>
			<% cnt = cnt + 1 %>
		<%end%>
	</div>
<% end %>

<% if !@toggles[:jf].nil? %>
	<%= render "searches/partials/filter", name: "Job Function", key: :jf, filter_values: @job_functions, current_values: @jf%>
<% end %>

<% if !@toggles[:el].nil? %>
	<%= render "searches/partials/filter", name: "Experience Level", key: :el, filter_values: @experience_levels, current_values: @el%>
<% end %>
