<% formatted_name = name.downcase.tr(" ", "_") %>
<% byebug %>
<hr>
<h6 class="filter-title" onclick="$('#<%=formatted_name%>').slideToggle(100);"> <%=name%> <span class="caret"></span></h6>
<div id="<%=formatted_name%>" style="display: none;"> 
	<%= link_to	"All", search_path(q:@query, t:@type, f:@filters)%><br>
	<%filter_values.each do |v|%>
		<% path_hash = get_path_hash(@toggles,@query,@type) %>
		<% path_hash[key] = add_value(current_values,v) %>
		<% path_hash[:f] = add_filter(@filters, formatted_name, current_values) %>
		<%= link_to v, search_path(path_hash) %><br>
	<%end%>

	<% if local_assigns[:input] == true %>
		<button class="btn btn-default btn-xs" onclick="hideUnHide('btn-<%=formatted_name%>','input-<%=formatted_name%>')" id="btn-<%=formatted_name%>">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
		</button> 
		<div class="input-group input-group-sm">
			<% byebug %>
			<%= text_field_tag key,'', class: 'form-control', placeholder: name, onchange: "filterInputChange('input-#{formatted_name}')", 
				style:"display:none", id:"input-#{formatted_name}"%>
		</div>
	<% end %>
</div>