<!DOCTYPE html>
<html>
<head>
  <title>Edge Map</title>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <script type="text/javascript">
  var verifyCallback = function(response) {
    alert(response);
  };
  var widgetId1;
  var widgetId2;
  var onloadCallback = function() {
    // Renders the HTML element with id 'example1' as a reCAPTCHA widget.
    // The id of the reCAPTCHA widget is assigned to 'widgetId1'.
    widgetId1 = grecaptcha.render('example1', {
      'sitekey' : "<%= Recaptcha.configuration.public_key %>",
      'theme' : 'light'
    });
    widgetId2 = grecaptcha.render(document.getElementById('example2'), {
      'sitekey' : "<%= Recaptcha.configuration.public_key %>"
    });
  };
</script>
</head>
<body  class="<%= controller_name %> <%= action_name %>">

<%= render 'shared/navigation' %>

<div class="container">
	<%= render 'shared/message' %>
	<%= yield %>
</div>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</body>
</html>
